<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.bradmontgomery.percent_change</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict/>
	<key>createdby</key>
	<string>Brad Montgomery</string>
	<key>description</key>
	<string>Easily do percentage calculations.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Percent Change</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:mainkeyword}</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>calculating</string>
				<key>script</key>
				<string>python3 percent.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Use "% help" to see examples.</string>
				<key>title</key>
				<string>Percent Calculations</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>ABB6BA81-8665-40FE-A867-448DF94386CA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Percent Change
--------------

This is an Alfred Workflow to help you do percentage calculations. You can see
some background info on the original [forum post](http://www.alfredforum.com/topic/4731-percent-change/).

Get the source from: https://github.com/giovannicoppola/alfred-percent-change

The supported calculations include:

1. *Percent Change* (increase/decrease): `% 3 6` -&gt; 100%
2. *Percentage Of*: 3 is what percent of 100: `% 3 of 100` -&gt; 3%
3. *Percent Of*: 5 percent of 100 is 5: `% 5 percent of 100` -&gt; 5, or `% 5% of 100` -&gt; 5
4. *Percent Decrease*: What is 2 percent from 100: `% 100 - 2%`
5. *Percent Increase*: What is 100 + 2%: `% 100 + 2%`
6. *Original number before Percent Decrease*: What number is 100 2 percent less than?:`% 100 is 2% lt`
7. *Original number before Percent Increase*: What number is 100 2 percent more than?:`% 100 is 2% gt`

## Build:

- Building uses the [workflow-build.py script](https://gist.github.com/AdamWagner/38228953422e830c4484e62ff116466a)
  bundled in this repo.
- To build, run: `python workflow-build.py -f -d . -o .`


## License

This Workflow is available under the terms of the MIT License. See the full
[LICENSE](LICENSE.TXT) for more details.


## Contributing

Contributions to this project are welcome. To contribute, feel free to fork
this repo, add your changes/features/improvements, then open a pull request.
Don't for get to add your name to the [AUTHORS file](AUTHORS.md).</string>
	<key>uidata</key>
	<dict>
		<key>ABB6BA81-8665-40FE-A867-448DF94386CA</key>
		<dict>
			<key>xpos</key>
			<real>370</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>%</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>mainkeyword</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.7</string>
	<key>webaddress</key>
	<string>https://github.com/bradmontgomery/alfred-percent-change/</string>
</dict>
</plist>
